<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>

    <style media="screen">
      a {
        padding: 5px
      }
    </style>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      <a href="{{ url_for('log_in') }}">
        <button type="button" name="log_in">Log In</button>
      </a>

      <a href="{{ url_for('sign_up')}}">
        <button type="button" name="sign_up">Sign Up</button>
      </a>
    </form>
  </body>
</html>
